In [29]:
# Show some of the columns (5 in default)
import datetime
import numpy as np
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [30]:
# Drop the id column which is not neccessary
df = df.drop(['id'], axis=1)
df = df.drop(['long'], axis=1)
df = df.drop(['lat'], axis=1)
df = df.drop(['zipcode'], axis=1)
df = df.drop(['yr_built'], axis=1)
df = df.drop(['yr_renovated'], axis=1)

In [31]:
# Date column seems to have date but not the exact time let's visualize it to understand more
df['date'].unique()

array(['20141013T000000', '20141209T000000', '20150225T000000',
       '20150218T000000', '20140512T000000', '20140627T000000',
       '20150115T000000', '20150415T000000', '20150312T000000',
       '20150403T000000', '20140527T000000', '20140528T000000',
       '20141007T000000', '20150124T000000', '20140731T000000',
       '20140529T000000', '20141205T000000', '20150424T000000',
       '20140514T000000', '20140826T000000', '20140703T000000',
       '20140516T000000', '20141120T000000', '20141103T000000',
       '20140626T000000', '20141201T000000', '20140624T000000',
       '20150302T000000', '20141110T000000', '20141203T000000',
       '20140613T000000', '20141230T000000', '20150213T000000',
       '20140620T000000', '20140715T000000', '20140811T000000',
       '20140707T000000', '20141028T000000', '20140729T000000',
       '20140718T000000', '20150325T000000', '20140716T000000',
       '20150428T000000', '20150311T000000', '20140916T000000',
       '20150217T000000', '20141231T000000', '20150205T000000',
       '20150303T000000', '20140819T000000', '20150407T000000',
       '20140827T000000', '20150223T000000', '20141210T000000',
       '20140828T000000', '20141021T000000', '20141207T000000',
       '20140603T000000', '20140909T000000', '20141009T000000',
       '20140825T000000', '20140612T000000', '20140912T000000',
       '20150105T000000', '20140610T000000', '20140710T000000',
       '20150316T000000', '20141105T000000', '20150420T000000',
       '20140609T000000', '20150323T000000', '20141202T000000',
       '20141222T000000', '20150128T000000', '20140602T000000',
       '20141114T000000', '20140618T000000', '20140519T000000',
       '20140904T000000', '20140522T000000', '20150226T000000',
       '20140725T000000', '20141223T000000', '20140908T000000',
       '20150330T000000', '20140711T000000', '20140611T000000',
       '20141027T000000', '20141212T000000', '20140924T000000',
       '20150402T000000', '20140523T000000', '20140723T000000',
       '20150305T000000', '20150304T000000', '20141124T000000',
       '20141121T000000', '20140623T000000', '20150108T000000',
       '20150511T000000', '20150102T000000', '20141119T000000',
       '20150406T000000', '20141104T000000', '20140717T000000',
       '20150126T000000', '20140813T000000', '20140805T000000',
       '20140507T000000', '20140708T000000', '20150508T000000',
       '20150227T000000', '20140625T000000', '20140806T000000',
       '20141030T000000', '20140820T000000', '20150409T000000',
       '20150331T000000', '20150401T000000', '20140728T000000',
       '20140807T000000', '20141113T000000', '20141003T000000',
       '20150309T000000', '20140812T000000', '20141208T000000',
       '20150219T000000', '20150324T000000', '20140605T000000',
       '20140502T000000', '20150116T000000', '20140929T000000',
       '20150210T000000', '20140709T000000', '20140530T000000',
       '20141117T000000', '20150107T000000', '20150414T000000',
       '20140905T000000', '20140505T000000', '20150418T000000',
       '20140818T000000', '20140515T000000', '20141111T000000',
       '20150113T000000', '20141014T000000', '20141112T000000',
       '20140804T000000', '20140919T000000', '20141123T000000',
       '20150422T000000', '20150114T000000', '20150221T000000',
       '20141023T000000', '20140822T000000', '20140918T000000',
       '20140903T000000', '20140604T000000', '20150413T000000',
       '20140616T000000', '20140902T000000', '20150320T000000',
       '20140701T000000', '20141001T000000', '20150127T000000',
       '20150427T000000', '20150212T000000', '20150314T000000',
       '20140923T000000', '20140513T000000', '20150421T000000',
       '20141020T000000', '20150211T000000', '20140829T000000',
       '20141024T000000', '20141216T000000', '20140814T000000',
       '20150504T000000', '20150501T000000', '20141017T000000',
       '20140925T000000', '20150505T000000', '20150513T000000',
       '20140630T000000', '20150410T000000', '20150209T000000',
       '20140702T000000', '20150224T000000', '20141022T000000',
       '20141002T000000', '20140619T000000', '20150228T000000',
       '20150408T000000', '20141122T000000', '20140721T000000',
       '20150202T000000', '20150416T000000', '20140722T000000',
       '20141106T000000', '20141229T000000', '20140922T000000',
       '20141006T000000', '20140917T000000', '20150130T000000',
       '20150326T000000', '20150423T000000', '20141204T000000',
       '20140520T000000', '20150429T000000', '20150313T000000',
       '20150121T000000', '20140801T000000', '20150430T000000',
       '20150306T000000', '20150417T000000', '20140911T000000',
       '20150318T000000', '20140730T000000', '20141219T000000',
       '20140506T000000', '20150512T000000', '20140821T000000',
       '20150319T000000', '20150502T000000', '20150222T000000',
       '20141126T000000', '20141015T000000', '20150106T000000',
       '20140808T000000', '20140901T000000', '20140614T000000',
       '20150510T000000', '20140521T000000', '20140508T000000',
       '20141029T000000', '20150507T000000', '20140906T000000',
       '20141008T000000', '20150310T000000', '20141217T000000',
       '20141218T000000', '20150123T000000', '20141211T000000',
       '20140930T000000', '20150204T000000', '20150206T000000',
       '20140617T000000', '20150506T000000', '20140622T000000',
       '20140815T000000', '20141118T000000', '20140802T000000',
       '20141016T000000', '20140712T000000', '20140910T000000',
       '20140509T000000', '20141215T000000', '20141107T000000',
       '20140714T000000', '20140615T000000', '20140926T000000',
       '20140606T000000', '20150122T000000', '20150317T000000',
       '20141125T000000', '20141010T000000', '20141226T000000',
       '20150120T000000', '20150514T000000', '20150112T000000',
       '20140724T000000', '20150425T000000', '20150220T000000',
       '20140915T000000', '20140517T000000', '20150426T000000',
       '20150109T000000', '20150419T000000', '20140511T000000',
       '20140524T000000', '20150214T000000', '20150503T000000',
       '20140601T000000', '20141031T000000', '20150327T000000',
       '20140621T000000', '20141018T000000', '20141220T000000',
       '20150203T000000', '20150129T000000', '20140726T000000',
       '20140719T000000', '20141221T000000', '20140628T000000',
       '20140720T000000', '20150119T000000', '20141224T000000',
       '20140526T000000', '20140816T000000', '20140927T000000',
       '20140706T000000', '20141214T000000', '20141005T000000',
       '20150412T000000', '20141115T000000', '20141108T000000',
       '20141101T000000', '20140525T000000', '20140831T000000',
       '20140907T000000', '20150329T000000', '20141019T000000',
       '20140629T000000', '20140504T000000', '20150404T000000',
       '20141116T000000', '20150216T000000', '20140531T000000',
       '20141004T000000', '20140518T000000', '20141109T000000',
       '20150315T000000', '20150405T000000', '20140510T000000',
       '20150207T000000', '20140608T000000', '20141213T000000',
       '20140809T000000', '20150321T000000', '20141012T000000',
       '20150515T000000', '20140817T000000', '20140704T000000',
       '20140913T000000', '20150307T000000', '20150411T000000',
       '20140810T000000', '20141206T000000', '20150509T000000',
       '20140803T000000', '20140928T000000', '20140503T000000',
       '20140713T000000', '20140705T000000', '20141025T000000',
       '20141128T000000', '20150328T000000', '20150301T000000',
       '20140920T000000', '20141102T000000', '20150125T000000',
       '20140921T000000', '20150110T000000', '20140823T000000',
       '20141026T000000', '20141129T000000', '20140607T000000',
       '20150524T000000', '20150131T000000', '20141227T000000',
       '20150117T000000', '20140914T000000', '20150308T000000',
       '20140830T000000', '20150527T000000', '20150322T000000',
       '20150215T000000', '20141011T000000', '20150201T000000',
       '20141130T000000', '20140824T000000', '20140727T000000'], dtype=object)

In [32]:
# Yes, there is not exact time reference so we can extract that part and just leave the exact date
import datetime as dt  
# df['date'] = pd.to_datetime(df['date']).dt.strftime('%d/%m/%Y') this is for formatting the date
df['date'] = pd.to_datetime(df['date'])

In [33]:
# Checking again if the conversion to date is right
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1340,5650
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1690,7639
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,2720,8062
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1360,5000
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1800,7503

In [34]:
# You can check the unique values of each column by this function call, just change the attribute (column) name
df['sqft_living'].unique()
df = df.drop(['date'], axis=1)

In [35]:
# This function gives descriptive information about columns such as column name,type,null values existence and so on
def analyzeColumns(dataframe):
    print('Analyzing dataframe... \n')
    
    # Checking type of the dataframe
    if type(dataframe) is pd.core.frame.DataFrame:
        print('Dataframe type is correct\n')
    else:
        print('Wrong dataframe type\n')
        return False
        
    columns = list(dataframe.columns)
    for (index,column) in enumerate(columns):
        print('------ Column ' + str(index+1)  + ' ------')
        print('Name: ' + column)
        
        coltype = str(dataframe[column].dtype)
        
        # Checking type of the column
        print('Type: ' + coltype)
        print('Index: ' + str(index))
        # Checking if the dataframe contains any null values 
        print('Null values exist: ' + ('Yes' if dataframe.isna().any().any() else 'No'))
        
        # If column contains numeric values compute the statistical informations
        if(coltype == 'int64' or coltype == 'float64'):
            print('Value Range: (' + str(dataframe[column].unique().min()) + ',' + str(dataframe[column].unique().max()) + ')')
            print('Distance MinMax: ' +  str(dataframe[column].unique().max()- dataframe[column].unique().min()))
            print('Mean: ' + str(dataframe[column].mean()))
            print('Std Dev: ' + str(dataframe[column].std()))
        # If column is date display with necessary formatting
        elif(coltype == 'datetime64[ns]'):
            ts1 = pd.to_datetime(str(dataframe[column].unique().min()))
            ts2 = pd.to_datetime(str(dataframe[column].unique().max()))
            minday = ts1.strftime('%d/%m/%Y')
            maxday = ts2.strftime('%d/%m/%Y')
            print('Value Range(d/m/y): (' + minday + ',' + maxday + ')')
        
         
        print('-----------------------\n')
    print('Finished analyzing dataframe... \n')    
    return True

In [36]:
analyzeColumns(df)

Analyzing dataframe...

Dataframe type is correct

------ Column 1 ------
Name: price
Type: float64
Index: 0
Null values exist: No
Value Range: (75000.0,7700000.0)
Distance MinMax: 7625000.0
Mean: 540088.1417665294
Std Dev: 367127.1964826997
-----------------------

------ Column 2 ------
Name: bedrooms
Type: int64
Index: 1
Null values exist: No
Value Range: (0,33)
Distance MinMax: 33
Mean: 3.37084162309721
Std Dev: 0.9300618311474632
-----------------------

------ Column 3 ------
Name: bathrooms
Type: float64
Index: 2
Null values exist: No
Value Range: (0.0,8.0)
Distance MinMax: 8.0
Mean: 2.1147573219821405
Std Dev: 0.7701631572177287
-----------------------

------ Column 4 ------
Name: sqft_living
Type: int64
Index: 3
Null values exist: No
Value Range: (290,13540)
Distance MinMax: 13250
Mean: 2079.8997362698374
Std Dev: 918.4408970468115
-----------------------

------ Column 5 ------
Name: sqft_lot
Type: int64
Index: 4
Null values exist: No
Value Range: (520,1651359)
Distance MinMax: 1650839
Mean: 15106.967565816869
Std Dev: 41420.51151513528
-----------------------

------ Column 6 ------
Name: floors
Type: float64
Index: 5
Null values exist: No
Value Range: (1.0,3.5)
Distance MinMax: 2.5
Mean: 1.4943089807060566
Std Dev: 0.5399888951423824
-----------------------

------ Column 7 ------
Name: waterfront
Type: int64
Index: 6
Null values exist: No
Value Range: (0,1)
Distance MinMax: 1
Mean: 0.007541757275713691
Std Dev: 0.0865171977279032
-----------------------

------ Column 8 ------
Name: view
Type: int64
Index: 7
Null values exist: No
Value Range: (0,4)
Distance MinMax: 4
Mean: 0.23430342849211122
Std Dev: 0.7663175692736397
-----------------------

------ Column 9 ------
Name: condition
Type: int64
Index: 8
Null values exist: No
Value Range: (1,5)
Distance MinMax: 4
Mean: 3.4094295100171195
Std Dev: 0.6507430463662665
-----------------------

------ Column 10 ------
Name: grade
Type: int64
Index: 9
Null values exist: No
Value Range: (1,13)
Distance MinMax: 12
Mean: 7.656873178179799
Std Dev: 1.1754587569743042
-----------------------

------ Column 11 ------
Name: sqft_above
Type: int64
Index: 10
Null values exist: No
Value Range: (290,9410)
Distance MinMax: 9120
Mean: 1788.3906907879516
Std Dev: 828.0909776519151
-----------------------

------ Column 12 ------
Name: sqft_basement
Type: int64
Index: 11
Null values exist: No
Value Range: (0,4820)
Distance MinMax: 4820
Mean: 291.5090454818859
Std Dev: 442.57504267744406
-----------------------

------ Column 13 ------
Name: sqft_living15
Type: int64
Index: 12
Null values exist: No
Value Range: (399,6210)
Distance MinMax: 5811
Mean: 1986.552491556008
Std Dev: 685.391304252777
-----------------------

------ Column 14 ------
Name: sqft_lot15
Type: int64
Index: 13
Null values exist: No
Value Range: (651,871200)
Distance MinMax: 870549
Mean: 12768.455651691113
Std Dev: 27304.179631338575
-----------------------

Finished analyzing dataframe...

True

In [37]:
# We need to get the correlation of each column to each column therefore we create a Heatmap
import numpy as np
import plotly.offline as py#visualization
import matplotlib.pyplot as plt
py.init_notebook_mode(connected=True)#visualization
import plotly.graph_objs as go#visualization
import plotly.tools as tls#visualization
import plotly.figure_factory as ff#visualization

pd.set_option('display.max_columns', 500)
plt.style.use('ggplot')

import warnings
warnings.filterwarnings("ignore")


correlation = df.corr()

matrix_cols = correlation.columns.tolist()

corr_array  = np.array(correlation)

trace = go.Heatmap(z = corr_array,
                   x = matrix_cols,
                   y = matrix_cols,
                   colorscale = "Viridis",
                   colorbar   = dict(title = "Pearson Correlation coefficient",
                                     titleside = "right"
                                    ) ,
                  )

layout = go.Layout(dict(title = "Correlation Matrix for variables",
                        autosize = False,
                        height  = 720,
                        width   = 800,
                        margin  = dict(r = 0 ,l = 210,
                                       t = 25,b = 210,
                                      ),
                        yaxis   = dict(tickfont = dict(size = 9)),
                        xaxis   = dict(tickfont = dict(size = 9))
                       )
                  )

data = [trace]
fig = go.Figure(data=data,layout=layout)
py.iplot(fig)

In [38]:
from sklearn import preprocessing

columns = list(df.columns)

df_for_pred = df

for (index,column) in enumerate(columns):
    
    if column != 'price':
        coltype = str(df[column].dtype)


        x = df[[column]].values #returns a numpy array
        min_max_scaler = preprocessing.MinMaxScaler(feature_range=(-1, 1))
        x_scaled = min_max_scaler.fit_transform(x)
        data3 = pd.DataFrame(x_scaled)

        df = df.drop([column,column], axis=1)

        df.insert(0,column,data3)

In [39]:
df.head()

,sqft_lot15,sqft_living15,sqft_basement,sqft_above,grade,condition,view,waterfront,floors,sqft_lot,sqft_living,bathrooms,bedrooms,price
0,-0.988515,-0.676131,-1.000000,-0.804825,-2.220446e-16,0.0,-1.0,-1.0,-1.0,-0.993785,-0.865660,-0.7500,-0.818182,221900.0
1,-0.983946,-0.555670,-0.834025,-0.587719,-2.220446e-16,0.0,-1.0,-1.0,-0.2,-0.991856,-0.655849,-0.4375,-0.818182,538000.0
2,-0.982974,-0.201170,-1.000000,-0.894737,-1.666667e-01,0.0,-1.0,-1.0,-1.0,-0.988515,-0.927547,-0.7500,-0.878788,180000.0
3,-0.990009,-0.669248,-0.622407,-0.833333,-2.220446e-16,1.0,-1.0,-1.0,-1.0,-0.994572,-0.747925,-0.2500,-0.757576,604000.0
4,-0.984258,-0.517811,-1.000000,-0.695175,1.666667e-01,0.0,-1.0,-1.0,-1.0,-0.990841,-0.790189,-0.5000,-0.818182,510000.0

In [40]:
mydata = df

from IPython.display import HTML
import base64

def create_download_link( dataframe, title = "Download CSV file", filename = "data.csv"):  
    csv = dataframe.to_csv(index = False)
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(mydata)
body = client_e6acadb34ba4419e92fe63e07f1c1d0d.get_object(Bucket='individualproject-donotdelete-pr-4xzbaefjspowyl',Key='kc_house_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [41]:
# It is important to shuffle the data in case of an ordered dataframe
from sklearn.utils import shuffle
df = shuffle(df)

df.head()

,sqft_lot15,sqft_living15,sqft_basement,sqft_above,grade,condition,view,waterfront,floors,sqft_lot,sqft_living,bathrooms,bedrooms,price
9390,-0.883294,0.022543,-1.000000,-0.399123,5.000000e-01,0.0,-1.0,-1.0,-0.2,-0.944249,-0.586415,-0.3750,-0.818182,820000.0
10161,-0.976723,-0.170194,-1.000000,-0.342105,3.333333e-01,0.0,-1.0,-1.0,-0.2,-0.987566,-0.547170,-0.2500,-0.757576,449950.0
21244,-0.987302,-0.235588,-1.000000,-0.451754,1.666667e-01,0.0,-1.0,-1.0,-0.2,-0.991177,-0.622642,-0.3125,-0.757576,485000.0
5322,-0.994603,-0.583204,-1.000000,-0.719298,-2.220446e-16,0.5,-1.0,-1.0,-0.2,-0.996995,-0.806792,-0.5625,-0.696970,530000.0
12752,-0.979470,-0.435209,-0.834025,-0.763158,1.666667e-01,0.0,-1.0,-1.0,-1.0,-0.988699,-0.776604,-0.5625,-0.757576,606150.0

In [42]:
y = df.price 
x = df.drop(columns=['price'])
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(17290, 13)
(4323, 13)
(17290,)
(4323,)

In [43]:
y.head()

9390     820000.0
10161    449950.0
21244    485000.0
5322     530000.0
12752    606150.0
Name: price, dtype: float64

In [44]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=20,random_state=0)

regr.fit(X_train, y_train)

y_pred=regr.predict(X_test)

In [45]:
type(y_test)

pandas.core.series.Series

In [46]:
print(y_test.shape)

(4323,)

In [47]:
print(y_pred.shape)

(4323,)

In [48]:
y_pred

array([  321070.  ,   292612.5 ,   740150.  , ...,   259857.15,
        1372451.5 ,  1181307.7 ])

In [49]:
type(y_pred)

numpy.ndarray

In [50]:
print("Accuracy:",regr.score(X_test, y_test))

Accuracy: 0.692811003064

In [51]:
# ----------------------------------------------End of Modeling Part--------------------------------------------------------------------------------------------------------------------

In [52]:
# We need to implement websocket communication therefore let's install websocket client library
!pip install websocket-client

import json

Requirement not upgraded as not directly required: websocket-client in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Requirement not upgraded as not directly required: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from websocket-client)

In [53]:
def get_prediction(message):
    
    print('inside get prediction method') 
    #print(message['intent'])
    
    testdf = pd.DataFrame()
    
    for key,val in message['fields'].items():
        #print(key + ': ' + str(val) + '\n')
        testdf[key] = pd.Series(data = float(val))
    
    #print(testdf.iloc[0])
    testdf  = pd.concat([testdf, df_for_pred ],ignore_index=True)
    testdf = testdf.drop(columns=['price'])
    #print(testdf.head(10))
    
    columns = list(testdf.columns)
    
    for (index,column) in enumerate(columns):
        coltype = str(testdf[column].dtype)
        #print('\ncoltype is ' + coltype + '\n')
        x2 = testdf[[column]].values #returns a numpy array
        min_max_scaler = preprocessing.MinMaxScaler(feature_range=(-1, 1))
        x_scaled2 = min_max_scaler.fit_transform(x2)
        data5 = pd.DataFrame(x_scaled2)

        testdf = testdf.drop([column,column], axis=1)

        testdf.insert(0,column,data5)
    
    #print(testdf.head(10))
    price_val = regr.predict(testdf.iloc[0].to_frame().transpose()).item(0)
  
    #print('\nEstimated price is: ' + str(price_val) + '\n')
    
    
    
    return price_val

In [54]:
import websocket
try:
    import thread
except ImportError:
    import _thread as thread
import time



def on_message(ws, message):
    #print(message)
    message = json.loads(message)
    
    if('intent' in message and message['intent'] == 'Get_Prediction'):
        print('Inside Watson Studio... get prediction detected... ')
        predicted_val = get_prediction(message)
        print(predicted_val)
        prediction = {"prediction": predicted_val}
        print('\ndict: ' + ''.join(prediction) + ' ' + str(prediction['prediction']) + '\n')
        print('\nbefore ws send \n')
        ws.send(json.dumps(prediction))

def on_error(ws, error):
    print(error)

def on_close(ws):
    print("### closed ###")

def on_open(ws):
    def run(*args):
        '''for i in range(3):
            time.sleep(1)
            ws.send("Hello %d" % i)
        time.sleep(1)
        ws.close()
        '''
        print("on open method started...")
    thread.start_new_thread(run, ())


def start_websocket_listener():
    websocket.enableTrace(True)
    ws = websocket.WebSocketApp("ws://<your ip address>:<your port number>/<your websocket path>",
                              on_message = on_message,
                              on_error = on_error,
                              on_close = on_close)
    ws.on_open = on_open
    ws.run_forever()

In [55]:
start_websocket_listener()

--- request header ---
GET /ws/guray HTTP/1.1
Upgrade: websocket
Connection: Upgrade
Host: 159.8.142.27:30283
Origin: http://159.8.142.27:30283
Sec-WebSocket-Key: pNRMheJoXGZFUBnGMeDtGg==
Sec-WebSocket-Version: 13


-----------------------
--- response header ---
HTTP/1.1 101 Switching Protocols
Upgrade: websocket
Connection: Upgrade
Sec-WebSocket-Accept: AouMrh91SQf5OpapHIRdT165p2Y=
-----------------------

on open method started...

send: b'\x81\x98\xe3m\xa0\xda\x98O\xd0\xa8\x86\t\xc9\xb9\x97\x04\xcf\xb4\xc1W\x80\xee\xd7\\\x90\xe8\xd6C\x90\xa7'

Inside Watson Studio... get prediction detected...
inside get prediction method
441025.0

dict: prediction 441025.0


before ws send

error from callback <function on_message at 0x7f2240985488>: Expecting value: line 1 column 1 (char 0)
  File "/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/websocket/_app.py", line 345, in _callback
    callback(self, *args)
  File "<ipython-input-54-efd0cb9f9d48>", line 12, in on_message
    message = json.loads(message)
  File "/opt/conda/envs/DSX-Python35/lib/python3.5/json/__init__.py", line 319, in loads
    return _default_decoder.decode(s)
  File "/opt/conda/envs/DSX-Python35/lib/python3.5/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/opt/conda/envs/DSX-Python35/lib/python3.5/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None

Connection is already closed.
### closed ###